@import url(//fonts.googleapis.com/css?family=Droid+Sans+Mono);

html, body {
    height:100vh;
    min-height:100vh;
    width:100vw;
    min-width:100vw;
    padding:0px;
    margin:0px;
    background-color: #1D1F21;
    overflow-x: scroll;
}

* {
    font-family: 'Droid Sans Mono';
    font-size:14px;
}

::selection {
  background: rgba(255, 183, 183, 0.5);
}
::-moz-selection {
  background: rgba(255, 183, 183, 0.5);
}

#editor, #linenumbers, #content, pre, code {
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    border:0;
    border-radius:0;
    outline:0;
    line-height: 1.25em;
}

#editor, #content {
    top:2em;
    left:3em;
    width:calc(100vw - 3em);
    white-space: pre;
    word-wrap:normal;
    overflow: hidden;
}

#editor {
    background-color:transparent;
    color:rgba(255, 255, 255, 0.1);
    z-index: 100;
    resize: none;
    width:10000px;
}

#caret {
    position: absolute;
    top:0px;
    left:0px;
    width:1px;
    height:1.25em;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 50;
    -webkit-animation: cpulse 1.4s infinite;
    line-height: 1.25em;
}

@-webkit-keyframes cpulse {
      0%  { background-color: rgba(255, 255, 255, 0.1); }
     50%  { background-color: rgba(255, 255, 255, 0.5); }
     100% { background-color: rgba(255, 255, 255, 0.1); }
}

.hljs, #editor {
    padding:0.5em;
}

#linenumbers {
    top:2em;
    width:3em;
    background-color: #282B2E;
    color:#fff;
    z-index: 10;
    min-height: 100vh;
}
#linenumbers table {
    width: 100%;
    border-spacing:0;
    margin-top:0.5rem;
}
#linenumbers tr {
    width:100%;
}
#linenumbers tr td {
    text-align: right;
    width:100%;
    padding:0 0.5em 0 0; 
    margin:0;
    height: 16px;
    max-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    font-size:12px;
    background-color: #282B2E;
}

#mainmenu {
    position: fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:2em;
    background-color: #1D1F21;
    color:#fff;
    margin: 0;
    padding: 0;
    z-index: 500;
}

#linepadder {
    width:3em;
    height: 100%;
    background-color: #282B2E;
    float:left;
}

button {
    height:100%;
    border:1px solid #fff;
    border-radius: 4px;
    outline: 0px;
    background-color: transparent;
    color:#fff;
    font-family: monospace;
    opacity: 0.5;
}

button:hover {
    opacity: 0.8;
    cursor:pointer;
}

#mainmenu button {
    float:right;
    margin-right:2em;
}

#overlay {
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 15;
}

.modal {
    position: fixed;
    top:40%;
    left:25%;
    width:50%;
    height: 40%;
    z-index: 200;
    color:#fff;
    text-align: center;
}

.modal a {
    color:#fff;
    text-decoration: none;
    font-size: 3em;
}

.modal ul {
    list-style-type: none;
}

.hide {
    display: none;
}

#mainmenu #logo {
    font-family: monospace;
    float:left;
    margin-left: 2em;
    border-left:0px;
    border-top:0px;
    border-right: 0px;
    border-radius: 0px;
    padding: 0px;
}

#mainmenu #createdat {
    font-family: monospace;
    float:left;
    margin-left: 2em;
    border:0px;
    padding: 0px;
    opacity: 0;
}

#mainmenu #createdat:hover {
    opacity: 0.5;
    cursor:default;
}

#modlisting {
    margin-top:3em;
    margin-left: 3em;
}

#modlisting ul li {
    list-style-type: none;
    line-height: 1.5em;
}

#modlisting ul li a {
    color:#fff;
    opacity: 0.5;
    text-decoration: none;
}

#modlisting ul li a:hover {
    opacity: 0.8;
}
